.button {
  border-radius: 20px;
  border: 2px solid var(--blue-stroke);
  color: var(--blue-stroke);
  font-size: 25px;
  font-weight: 450;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  margin-bottom: 25px;
}

.button:hover {
  color: white;
  background: var(--blue);
  transition: 0.2s;
}

.button-export {
  color: var(--green-stroke);
  border-color: var(--green-stroke);
  font-size: 25px;
  padding: 5px 0;
  margin-top: 20px;
}

.button-export:hover {
  background: var(--green);
}

.button-import {
  color: var(--orange-stroke);
  border-color: var(--orange-stoke);
  font-size: 25px;
  padding: 5px 0;
  margin-top: 20px;
}

.button-import:hover {
  background: var(--orange);
  border-color: var(--orange-stroke);
}

.segmented-button {
  display: flex;
  justify-content: center;
}

.segmented-button input[type="radio"] {
  display: none;
}

.segmented-button label {
  width: 100%;
  padding: 5px 20px;
  background-color: white;
  text-align: center;
  border: solid var(--orange-stroke) 2px;
}

.segmented-button input[type="radio"]:checked + label {
  background-color: var(--orange-stroke);
  color: white;
}

.segmented-radius-left {
  border-radius: 10px 0 0 10px;
}

.segmented-radius-right {
  border-radius: 0 10px 10px 0;
}

.delete-all {
  color: red;
  text-decoration: none;
}

.select-all {
  color: green;
  text-decoration: none;
}

.delete-verbs {
  display: flex;
  justify-content: right;
}

.infos-button {
  font-size: 13px;
  display: inline;
  padding: 01 8px;
  border-radius: 25px;
  border: solid 1px var(--pink-stroke);
}

.infos-button:hover {
  color: white;
  background: var(--pink-stroke);
}

.toggleHeader:hover {
  text-decoration: underline;
}
