.button {
  border-radius: 20px;
  border: 2px solid var(--blue-stroke);
  color: var(--blue-stroke);
  font-size: 25px;
  font-weight: 450;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.button-export {
  color: var(--green-stroke);
  border-color: var(--green-stroke);
  font-size: 25px;
  padding: 5px 0;
}

.button-import {
  color: var(--orange-stroke);
  border-color: var(--orange-stoke);
  font-size: 25px;
  padding: 5px 0;
}
