main a {
  border-radius: 20px;
  border: 2px solid var(--blue-stroke);
  color: var(--blue-stroke);
  font-size: 25px;
  font-weight: 450;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}
