/* ====================================
// css variables
// ==================================== */

:root {
  --orange: #ffbd5c;
  --green: #abffab;
  --blue: #94d9ff;
  --pink: #f9b7c9;
  --orange-stroke: #f79e28;
  --green-stroke: #5de85d;
  --blue-stroke: #5ebce5;
  --pink-stroke: #e26d91;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

body {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-weight: 900;
  font-size: 50px;
  letter-spacing: -1px;
  display: inline;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 500;
  font-size: 30px;
  font-weight: 420;
}

h4 {
  font-weight: 700;
  font-size: 20px;
}
